<footer class="footer h-40 mt-12 mb-48">
  <h1 class="text-2xl text-center my-8 font-bold text-white">✨ Thanks for your Visit ✨</h1>
  <hr />
  <h3 class="font-bold text-white text-center text-xl">
    Made in &#10084; by
    <a
      target="_blank"
      class="no-underline text-white KeshavArora"
      href="https://www.linkedin.com/in/keshavarora2006/"
      >Keshav Arora</a
    >
  </h3>
  <div class="flex justify-between mt-8 mb-16">
    <div>
      <h2 class="text-lg font-semibold mb-2 text-white">Connect Us:</h2>
      <div class="socials text-white">
        <a
          target="_blank"
          class="mr-4"
          href="https://www.linkedin.com/in/keshavarora2006/"
          ><i class="fa-brands fa-linkedin fa-xl"></i
        ></a>
        <a
          target="_blank"
          class="mr-4"
          href="https://www.instagram.com/_iitian_keshav_/"
          ><i class="fa-brands fa-instagram fa-xl"></i
        ></a>
        <a
          target="_blank"
          class="mr-4"
          href="https://www.facebook.com/keshav.arora.7731/"
          ><i class="fa-brands fa-facebook fa-xl"></i
        ></a>
        <a
          target="_blank"
          class="mr-4"
          href="https://github.com/Its-keshav-arora"
          ><i class="fa-brands fa-github fa-xl"></i
        ></a>
        <a target="_blank" class="mr-4" href="https://x.com/Keshav_Arora123"
          ><i class="fa-brands fa-x-twitter fa-xl"></i
        ></a>
      </div>
    </div>
    <div class="text-white mr-4">
      <h2 class="text-xl font-semibold mb-2">Developer Info:</h2>
      <h3>Keshav Arora</h3>
      <h3>FullStack Developer</h3>
      <h3>B.tech Chemical 2027</h3>
      <h3>Email: <a href="mailto:keshav11y@gmail.com" target="_blank">keshav11y@gmail.com</a></h3>
    </div>
  </div>
  <div></div>
</footer>
