<nav
  class="h-20 sticky rounded-lg navbar top-1 my-1 flex justify-between items-center"
>
  <div>
    <a class="ml-8 text-lg" href="/"> Home </a>
  </div>
  <div class="">
    <form action="/search" method="get">
      <label for="search">Search</label> &nbsp;
      <input
        class="w-96 h-8 rounded-full pl-4"
        type="text"
        id="search"
        spellcheck="false"
        placeholder="Patiala Peg"
        name="music"
      />
      <button type="submit">
        <i class="relative right-8 fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
  <div class="mr-8 text-lg">
    <a class="mr-8" href="/add">Add Song</a>
    <div class="auth inline">
      <form class="inline" action="/login">
        <button class="mr-8">Login</button>
      </form>
      <form class="inline" action="/register">
        <button>Signup</button>
      </form>
    </div>
  </div>
</nav>
