<div class="sidebar rounded-lg">
  <aside
    class="sticky top-24 rounded-lg mx-3">
    <h2 class="text-xl mb-4">Recent Songs</h2>
    <div class="history">
      <p><u><i>Coming Soon</i></u></p>
    </div>
  </aside>
</div>
