<div class="sidebar rounded-lg">
  <aside
    class="sticky top-24 rounded-lg mx-3">
    <h2 class="text-xl mb-4">Recent Songs</h2>
    <div class="history">
      <div class="historyList flex rounded-lg">
        <img class="h-16 pr-4" src="/images/Song2.jpeg" alt="Example Image">
        <h3>Faded - 2018</h3>
      </div>
      <div class="historyList flex rounded-lg">
        <img class="h-16 pr-4" src="/images/Song2.jpeg" alt="Example Image">
        <h3>Faded - 2018</h3>
      </div>
      <div class="historyList flex rounded-lg">
        <img class="h-16 pr-4" src="/images/Song2.jpeg" alt="Example Image">
        <h3>Faded - 2018</h3>
      </div>
      <div class="historyList flex rounded-lg">
        <img class="h-16 pr-4" src="/images/Song2.jpeg" alt="Example Image">
        <h3>Faded - 2018</h3>
      </div>
    </div>
  </aside>
</div>
