<body>
    <h1 class="text-3xl text-center mt-12 mb-4 font-bold text-green-500">
      Login
    </h1>
    <div class="flex items-center justify-center h-full w-full">
      <form action="" method="post" class="addSongForm w-1/2">
        <div class="email">
          <label class="pr-8" for="email">Email</label> &nbsp;
          <input
            class="rounded-lg h-8 mb-4 w-3/4 pl-4"
            name="email"
            type="text"
            id="title"
            spellcheck="false"
            placeholder="abc@gmail.com"
          />
        </div>
        <div class="password">
          <label for="password">password: </label> &nbsp;
          <input
            name="password"
            type="text"
            id="password"
            class="rounded-lg h-8 mb-4 w-3/4 pl-4"
            spellcheck="false"
            placeholder="12345678"
            placeholder="12345678"
          />
        </div>

        <div class="flex justify-between">
          <button
            class="bg-green-500 w-20 rounded-lg h-8"
            type="submit"
          >
            Login
          </button>
        </div>
      </form>
    </div>
  </body>
  
  