<style>
  @media(max-width:1110px)
  {
    .addSongForm input
    {
      width:100% !important;
    };
  }
</style>

<body>
  <h1 class="text-3xl text-center mt-12 mb-4 font-bold text-green-500">
    Login
  </h1>
  <div class="flex items-center justify-center h-full w-full">
    <form action="" method="post" class="addSongForm">
      <div class="username">
        <label class="mr-1" for="username">username</label> &nbsp;
        <input
          class="rounded-lg h-8 mb-4 w-3/4 pl-4"
          name="username"
          type="text"
          id="username"
          spellcheck="false"
          placeholder="keshav11y"
        />
      </div>
      <div class="password">
        <label for="password">password: </label> &nbsp;
        <input
          name="password"
          type="password"
          id="password"
          class="rounded-lg h-8 mb-4 w-3/4 pl-4"
          spellcheck="false"
          placeholder="12345678"
          placeholder="12345678"
        />
      </div>

      <div class="flex justify-between">
        <button class="bg-green-500 w-20 rounded-lg h-8" type="submit">
          Login
        </button>
      </div>
    </form>
  </div>
</body>
