<div class="flex justify-center items-center inline">
  <div
    class="text-white border-2 border-white mt-12 h-72 w-72 rounded-lg flex-col notFound"
  >
    <img class="h-48" src="./error.gif" alt="" />
    <h1 class="text-center">404: Song not Found</h1>
  </div>
</div>
<form action="add" method="get" class="flex justify-center items-center mt-2" >
  <button class="bg-green-500 min-w-72 rounded-lg h-8">Add this song</button>
</form>
